.top-page {
    background-color: rgba(18, 204, 173, 0.888888)
}

.top-nav-collapse {
    background-color: rgb(18, 204, 173)
}

.table-blue {
    background: rgba(43, 99, 255, 0.3)
}

.table-grey {
    background: rgba(227, 227, 227, 0.5)
}